.cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    min-width: 288px;
    z-index: 3;    
}

@media (min-width: 768px) {
    .cover__subtitle {
        font-size: 18px;
        line-height: 22px;
        max-width: 360px;
    }
}
