.intro {
    padding: 0 16px 0 16px;
    margin-bottom: 64px;
}

@media (min-width: 768px) {
    .intro {
        padding: 0 24px 0 24px;
    }  
}

@media (min-width: 1024px) {
    .intro {
        display: flex;
        margin-right: auto;
        flex-direction: column;
        padding: 0 48px 0 48px;
        margin-bottom: 92px;
    } 
}

@media (min-width: 1280px) {
    .intro {
        padding: 0 128px 0 128px;
    } 
}
