.cover {
    margin-bottom: 64px;
    width: 100%;
 }

 @media (min-width: 1024px) {
   .cover {
      margin-bottom: 88px;
   }
 }

 @media (min-width: 1024px) {
    .cover {
        margin-bottom: 92px;
     }
}