.place__link {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
    padding: 0 16px;
    transition: 0.5s;
}

.place__link:hover {
    opacity: 0.8;
}

@media (min-width: 768px) {
    .place__link {
        padding: 0;
    }
}