.cover__background {
    width: 100%;
    background: #2A2C2F;
    opacity: 70%;
    grid-area: 1/-1;
}

.cover__background:hover {
    opacity: 0.3;
    transition: 0.5s;
}

@media (min-width: 1280px) {
    .cover__background {
        box-sizing: border-box;
        padding: 0 48px 0 48px;
    }
}