.place {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr));
    margin: 0 0 50px;
    gap: 32px;
}

.place:last-child {
    margin: 0;
}

@media (min-width: 768px) {
    .place {
        grid-template-columns: 340px 1fr;
        grid-template-rows: auto auto;
        column-gap: 28px;
        row-gap: 48px;
        margin-bottom: 73px;
    }
}

@media (min-width: 1024px) {
    .place {
        grid-template-columns: 440px 1fr;
        margin-bottom: 80px;
    }
}

@media (min-width: 1280px) {
    .place {
        grid-template-columns: 460px 1fr;
        column-gap: 40px;
    }
}