.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr));
    padding: 0 16px 0 16px;
}

@media (min-width: 768px) {
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 24px 24px 24px;
    }
}

@media (min-width: 1280px) {
    .footer {
        padding: 0 48px 24px 48px;
    }
}